*{margin: 10px;padding: 0px;}


header{
    width: 1800px;
    height: 300px;
    text-align:center; 
    background-color: white;
    opacity: 0.6;
    
}
header a{
    position: absolute;
}

li { list-style:none; }
a { text-decoration:none; }
/*
div{
    max-width: 1600px;
    background-color: firebrick;
    border: 3px solid #eee;
    margin: 60px auto;
    padding: 0 50px;
    height: 400px;
    opacity: 0.5;
}
*/

/*header{height: 100%;  background: url("../images/swiss.jpg"); }*/

#logo{
/*    border: 3px solid #eee;*/
/*    position: absolute;*/
    
    width: 200px;
    height: 270px;
    background-image: url(../images/logo.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
}
.folder{
    width: auto;
    height: 40px;
    background-color: deeppink;
}

h5{
    color: dodgerblue;
    text-align: center;
    line-height: 40px;
}

nav { height:60px; background: #bff; 
	width:100%;opacity: 0.7;
}
nav ul { width:1200px; margin:0 auto; }
nav li { float:left; width:200px; margin-left: 10px;}
nav a { color:#000; height:60px; display:block; line-height:60px; text-align:center;}

body{
    
/*
    background: url("../images/swiss.jpg");
    background-repeat: no-repeat;    
*/
    background-size: cover;
    
    background:url("../images/swiss.jpg") no-repeat center fixed; 
    height: 7000px;
}

.menubar{
    position: absolute;
    width: 180px;
    background-color: black;
    border: 3px solid #eee;
    margin: 100px;
    left: 1550px;
    height: 700px;
    opacity: 0.8;
    transition: all .4s easy;
}

table a{
    text-align: center;
    font-size: 14px;
}
table{
    margin: 0px;
    padding: 0px;
}

section { 
    position: absolute;
    width: 1800px;
    margin-top: 50px;
    opacity: 0.2;
	height:800px; background-size:cover; background-position:center;
    background-color: aqua;
/*	background-attachment: fixed;*/
}

section #text{
    position: absolute;
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    max-width: 600px;
    background-color: #f89;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
}
section #img{
    position: absolute;
    width: 500px;
    height: 380px;
    background-color: firebrick;
    opacity: 0.7;
    left: 650px;
}
section #menupan{
    position: absolute;
    width: 500px;
    height: 350px;
    background-color: black;
    left: 650px;
    top: 420px;
}
section #contents{
    position: absolute;
    width: 560px;
    height: 740px;
    background-color: black;
    left: 1200px;
}
#section01 {
    

}
#section02 { background-image:url(../images/image02.jpg); }
#section03 { background-image:url(../images/image03.jpg); }
#section04 { background-image:url(../images/image04.jpg); }
#section05 { background-image:url(../images/image05.jpg); }







